.footer {
  &_p {
    font-family: Rubik-400;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color: #37383d;
  }
  &_text {
    font-family: Rubik-500;
    font-weight: 500;
    font-size: 18px;
    line-height: 272%;
    letter-spacing: 0.01em;
    color: #37383d;
  }
  &_title {
    font-family: Rubik-400;
    font-weight: 500;
    font-size: 18px;
    line-height: 272%;
    letter-spacing: 0.01em;
    color: #37383d;
  }
  &_the{
    font-family: Rubik-400;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #646464;}
}
