.food {
  &_text {
    font-family: Rubik-400;
    font-weight: 500;
    font-size: 66px;
    text-transform: capitalize;
    color: #363853;
  }
  &_mark {
    color: #ff7a50;
    background-color: transparent;
  }
  &_title {
    font-family: Rubik-400;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    text-transform: capitalize;
    color: #363853;
  }
  &_btn {
    font-family: Rubik-400;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #fff;
    box-shadow: 0 22px 40px 0 rgba(255, 104, 56, 0.19);
    background: #ff7a50;
    padding: 12px 20px;
    border-radius: 5px;
  }
  &_btn:hover {
    border-radius: 30px;
    transition: 0.8s;
    border: 1px solid #ff7a50;
    color: #ff7a50;
    background-color: #fff;
  }
  &_p {
    font-family: Rubik-400;
    font-weight: 400;
    font-size: 20px;
    text-decoration: underline;
    text-decoration-skip-ink: none;

    color: #363853;
  }
}
@media (max-width: 760px) {
  .food_btn {
    padding: 8px 10px;
  }
}
@media (max-width: 390px) {
  .food_text {
    font-size: 25px;
    margin-top: -40px;
  }
  .food_title {
    display: none;
  }
  .food_btn {
    padding: 6px 8px;
    margin-top: 20px;
  }
  .food_p {
    font-size: 12px;
    margin-top: -27px;
  }
  .food_img {
    width: 320px;
  }
}
.fast {
  &_text {
    font-family: Rubik-500;
    font-size: 36px;
    font-weight: 500;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: left;
    color: #363853;
    text-align: center;
    padding-top: 95px;
  }
  &_icon {
    padding-left: 47px;
  }
  &_p {
    font-family: Rubik-400;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #363853;
  }
  &_mark {
    color: #ff7a50;
    background-color: transparent;
  }
  &_food {
    background-color: #fff;
    width: 210px;
    height: 70px;
    align-items: center;
    border-radius: 8px;
  }
  &_food:hover {
    background-color: #ff7a50;
    border-radius: 20px;
    transition: 0.8;
  }
}
.swiper {
  &_text {
    font-family: Rubik-400;
    font-weight: 400;
    font-size: 15px;
    color: #363853;
  }
  &_money {
    font-family: Rubik-500;
    font-weight: 500;
    font-size: 15px;
    color: #363853;
  }
  &_btn {
    font-family: Rubik-400;
    font-weight: 400;
    font-size: 15px;
    color: #fff;
    background-color: #ff7a50;
    border-radius: 2px;
    width: 106px;
    height: 32px;
  }
  &_icon {
    padding-left: 32px;
  }
  &_text {
    padding-top: 25px;
    padding-left: 17px;
  }
  &_money {
    padding-left: 80px;
    padding-top: 8px;
  }
  &_btn {
    margin-left: 50px;
    margin-top: 10px;
  }
}
.home {
  display: flex;
  justify-content: center;
  &_text {
    font-family: Rubik-500;
    font-weight: 500;
    font-size: 36px;
    line-height: 139%;
    text-transform: capitalize;
    color: #ff7a50;
  }
  &_mark {
    color: #363853;
    background-color: transparent;
  }
  &_title {
    font-family: Rubik-400;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #363853;
    opacity: 0.9;
    padding-top: 30px;
  }
  &_p {
    font-family: Rubik-400;
    font-weight: 400;
    font-size: 24px;
    line-height: 125%;
    text-transform: capitalize;
    color: #363853;
  }
  &_btn {
    font-family: Rubik-400;
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    border-radius: 30px 30px 1px 30px;
    width: 176px;
    height: 58px;
    box-shadow: 0 22px 40px 0 rgba(255, 104, 56, 0.19);
    background: #ff7a50;
    margin-top: 30px;
  }
  &_btn:hover {
    border-radius: 30px 30px 30px 30px;
    border: 1px solid #ff7a50;
    color: #ff7a50;
    background-color: #fff;
    transition: 0.8s;
  }
}
@media (max-width: 450px) {
  .home_btn {
    width: 150px;
    height: 50px;
  }
}
@media (max-width: 380px) {
  .home_btn {
    width: 128px;
    height: 40px;
  }
}
@media (max-width: 320px) {
  .home_btn {
    width: 96px;
    height: 35px;
  }
}
.menu {
  &_text {
    padding-top: 120px;
    font-family: Rubik-500;
    font-weight: 500;
    font-size: 36px;
    line-height: 83%;
    text-transform: capitalize;
    color: #363853;
    text-align: center;
  }
  &_mark {
    color: #ff7a50;
    background-color: transparent;
  }
  &_title {
    font-family: Rubik-400;
    font-weight: 400;
    font-size: 24px;
    line-height: 125%;
    color: #363853;
  }
  &_p {
    font-family: Rubik-400;
    font-weight: 300;
    font-size: 18px;
    line-height: 167%;
    color: #363853;
    opacity: 0.9;
  }
  &_box {
    background-color: #fff;
    border-radius: 53px 5px;
    width: 361px;
    height: 417px;
  }
}
.mobile {
  &_text {
    padding-top: 250px;
    font-family: Rubik-500;
    font-weight: 500;
    font-size: 36px;
    line-height: 139%;
    text-transform: capitalize;
    color: #363853;
  }
  &_mark {
    color: #ff7a50;
    background-color: transparent;
  }
  &_title {
    padding-top: 30px;
    font-family: Rubik-400;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #363853;
    opacity: 0.9;
  }
}
.our {
  &_text {
    padding-top: 150px;
    text-align: center;
    font-family: Rubik-500;
    font-weight: 500;
    font-size: 36px;
    letter-spacing: 0.01em;
    color: #363853;
  }
  &_mark {
    color: #ff7a50;
    background-color: transparent;
  }
  &_title {
    font-family: Rubik-400;
    font-weight: 400;
    font-size: 20px;
    line-height: 225%;
    letter-spacing: 0.03em;
    color: #363853;
  }
  &_name {
    font-family: Rubik-500;
    font-weight: 500;
    font-size: 20px;
    color: #ff7a50;
  }
  &_p {
    font-family: Rubik-400;
    font-weight: 400;
    font-size: 14px;
    color: #aaa;
  }
}
.get {
  &_text {
    font-family: Rubik-500;
    font-weight: 500;
    font-size: 40px;
    text-align: center;
    color: #fff;
  }
  &_title {
    font-family: Rubik-400;
    font-weight: 400;
    font-size: 16px;
    line-height: 187%;
    text-align: center;
    color: #fff;
    opacity: 0.8;
  }
  &_btn {
    font-family: Rubik-500;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: #fff;
    border-radius: 70px;
    width: 191px;
    height: 58px;
    background-color: #ff7a50;
  }
}
